@font-face { font-family: Casper; src: url(../fonts/Casper.ttf); }
@font-face { font-family: Bebas; src: url(../fonts/Bebas.ttf); }
@font-face { font-family: Akrobat; src: url(../fonts/Akrobat.ttf); }
@font-face { font-family: Franklin; src: url(../fonts/Franklin.ttf); }

* { margin: 0; padding: 0; }
a { color: black; text-decoration: none; }


/*<-------------Header------------->*/
.logo_head
{
	margin-top: 10px;
	font-family: Casper;
	font-size: 23px;
	color: #1e3d69;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.logo
{
	color: #1e3d69;
	margin-top: 10px;
	display: inline-block;
	margin-left: 50px;
}
.logo img 
{ 
	float: left; 
}
.logo_text
{
	float: right;
	margin-top: 40px;
	margin-left: 20px;
}
#engine
{
	font-family: Bebas;
	font-size: 35px;
	font-weight: bold;
}
.info
{
	margin-top: 70px;
	margin-right: 100px;
}
.head
{
	width: 100%;
	height: 340px;
	background: url("../images/curse1-header.jpg") center top;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.head_bg
{
	height: 190px;
	width: 56%;
	background-color: rgba(30,61,105,.7);
	position: absolute;
	left: 22%;
	top: 75px;
	border: 3px solid rgba(255,255,255,.7);
	display: table;
}
.head_bg a 
{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
h1
{
	font-family: Bebas;
	color: #fff;
	font-size: 60px;
}


/*<--------------------Section Curse------------------->*/
.curse_info
{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 100px;
}
.curse_wrapper
{
	width: 75%;
	margin-left: 12.5%;
	margin-bottom: 35px;
}
.photo
{
	float: left;
	margin-right: 30px;
}
.curse_info img
{
	margin-bottom: 10px;
}
.teacher, .name
{
	color: #061b38;
}
.teacher
{
	font-family: Bebas;
	font-size: 17px;
}
.name
{
	font-family: Franklin;
	font-size: 14px;
	font-weight: bold;
}


.main_text
{
	font-family: Akrobat;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 30px;
}
.text h6
{
	font-size: 14px;
	font-family: Bebas;
	color: #061b38;
	margin-bottom: 30px;
	font-weight: bold;
}
.tables
{
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: bold;
	font-family: Franklin;
}
.first
{
	float: left;
	margin-right: 6%;
	margin-bottom: 30px;
}
.link
{
	font-size: 14px;
	font-weight: bold;
	font-family: Franklin;
	margin-bottom: 40px;
}
.btn
{
	background-color: #7f91aa;
	padding: 10px 20px;
	font-family: Bebas;
	font-size: 18px;
	font-weight: bold;
}


@media (max-width: 920px)
{
	.logo_head
	{
		text-align: center;
	}
	.logo
	{
		display: inline-block;
		margin-bottom: 20px;
		height: 100px;
		text-align: left;
		margin: auto;
	}
	.logo img 
	{ 
		width: 100px; 
		height: 100px;
		float: left;
		margin-right: 20px;
	}
	.logo_text
	{
		display: inline-block;
		margin-top: 30px;
	}
	.info
	{
		display: none;
	}
}
@media (max-width: 830px)
{
	/*.head_bg 
	{ 
		height: 100px;
		width: 80%;
		top: 50px;
		left: 10%;
	}*/
	h1 { font-size: 40px; }
}

@media (max-width: 560px)
{
	.logo 
	{
		height: 70px;
	}
	.logo img 
	{
		margin-right: 5px;
		width: 70px;
		height: 70px;
	}
	.logo_text
	{
		font-size: 15px;
		margin-top: 20px;
	}
	#engine
	{
		font-size: 25px;
	}
	.head { height: 200px; }
	.head_bg 
	{ 
		height: 100px;
		width: 80%;
		top: 50px;
		left: 10%;
	}
	h1 { font-size: 30px; }
}